/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[6].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[2].oneOf[6].use[2]!./node_modules/@next/font/local/target.css?{"path":"app/fonts/pilowlava/pilowLava.ts","import":"","arguments":[{"src":[{"path":"./Pilowlava-Regular.woff2","weight":"200","style":"normal"}]}],"variableName":"pilowLava"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__pilowLava_478a20';
src: url(/_next/static/media/7c911aca3c6b893b-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 200;
font-style: normal;
}@font-face {font-family: '__pilowLava_Fallback_478a20';src: local("Arial");ascent-override: 60.70%;descent-override: 12.14%;line-gap-override: 0.00%;size-adjust: 164.76%
}.__className_478a20 {font-family: '__pilowLava_478a20', '__pilowLava_Fallback_478a20';font-weight: 200;font-style: normal
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./app/animations/PreLoader/preloader.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.preloader {
  height: 100vh;
  width: 100%;
  background: #0e1016;
  color: #e4ded7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.preloader .texts-container {
  height: 60px;
}

